<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Oldports</title>

    <link rel="shortcut icon" href="../static/favicon.ico">

    <!-- bootstrap -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
 
    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

   <!-- twiter -->
   <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

   <!--Progressive web app  -->
   <link rel='manifest' href='/manifest.json'>

  <!-- progressive app worker code -->
  
  <script type="text/javascript" src="../static/js/pwabuilder-sw-register.js"></script>
  <!-- app intall button -->
  <script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall"
  ></script>
  <pwa-install></pwa-install>



  </head>
<!--  -->

<body>





    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">

         
              <div class="title">  <!-- title has an animation on css> -->
                <p><b>LITTER IS NOT PLEASURE  |  #Oldports</b></p> 
             
          </div>
        </div>
      </nav>
      <div class="hero text-center">
      </div> 
  
  <br>
  
     
  <!-- start charts -->
  <!-- drop down -->
  <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2">
           <a  href="/upload-image"><button type="button" class="btn btn-primary">Upload Photo</button></a>
          
          <h5></h5>
         
          </div> 
          <div class="col-md-9"></div> 
  </div>

<!-- pic count  the id LatestPic gets updated by java-script-->


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div id=LatestPic></div>
        <h5>Select map pins to see #Oldports photos.</h5>
    </div>
<!-- end of pic count  -->

<!-- city and state. Jave script updates id Picturedata with city and state -->
    <div class="col-md-1">    </div>
      <div class="col-md-3">
      <h3>Latest #Oldports Found</h3>
      <div id=Picturedata>     </div>

    </div>
    <div class="col-md-1">    </div>
 
  </div>
  
<!-- end of pic data -->






  
<!-- oldports map -->

<div class="row">
                                 <!-- space to the left -->
  <div class="col-1 col-sm-1 col-md-1"></div>
                         <!-- map  --> 
                        <!-- <div class="col-md-6"> -->
                            <div class="col-11 col-sm-11 col-md-6">  <!-- make it 3 on a small screen -->
                        <br>
                        <br>
                        <div class="MapContainer">
                        <div id='map'  style='width: 800px; height: 450px;'></div>
                        </div>  
                        </div>
                        <!-- end of map -->
                                                                    <!-- fathest right -->
                                                                      <div class="col-md-1">
                                                                      </div>
                                                                      <div class="col-6 col-sm-6 col-md-3">
                                                                      <!-- <div class="col-md-3">   -->
                                                                        <br>
                                                                        <br>
                                                                      <!-- img- gallery is updated by java script -->
                                                                      <div class="container">
                                                                      <div class="row img-gallery">
                                                                        <!-- Picture goes here -->
                                                                      </div>
                                                                      </div>
                                                                      
                                                                      </div>
                                                                      <div class="d-none d-lg-block"> 
                                                                        <!-- hide in small devices -->
                                                                        
                                                                          <div class="col-md-1"></div>    

                                                                      </div>
                                                                      
                                                                      

<!-- end of row 3 -->
</div>

<div class="closing">

<div class="row">
    <div class="col-md-1"></div>
<div class="col-md-7">
  
<H5>Litter makes cities ugly.<br>
Some brands become litter more than others.<br>

<H3><b>Newport is one of those brands.<br><br>

Share a photo. Spread the word. #Oldports</b></H3><br>

Newport website: <b><a href="https://www.newport-pleasure.com/" target="_blank">newport-pleasure.com</a></b>.<br>
#Oldports is a message for civic pride.<br>
Litter is not pleasure.
</H5>
</div>
<div class="col-md-4">
    <img src="../static/Images/StaticPics/warning.png"></img>

</div>
</div>

<!-- twitter -->
<div class="row">
  <br>
    <div class="col-md-1"></div>
    <div class="col-md-8">
<a class="twitter-hashtag-button" data-size="large"
  href="https://twitter.com/intent/tweet?text=Share%20a%20photo.%20Spread%20the%20word.%20@Oldports1&hashtags=oldports&url=https://oldports.herokuapp.com">
Tweet #Oldports</a>

</div>
<div class="col-md-3">

</div>
</div>

<!-- end of twitter -->

   <!-- close wraper -->
    </div>
    
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/ClusterMapLogic.js"></script>
    <script type="text/javascript" src="../static/js/NewPic.js"></script>
   <!-- progressive webapp setup -->
    <script src="../static/js/manup.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/NewPic.js') }}"></script> -->
</div>
  
  </body>
  
  </html>



<!--  -->
  